<h1>New Supplier</h1>

<%= form_for :supplier, url: suppliers_path do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', suppliers_path %>